<div class="col-12 col-lg-8 offset-lg-2" id="tableSection">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0"></h5>
        </div>
        <div class="card-body">
            <table class="table table-sm data-table table-bordered" id="mainTable">
                <thead class="bg-200 text-900">
                    <tr></tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>


<div class="col-sm-12 col-lg-6 offset-lg-3" id="formSection" style="display: none;">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0"></h5>
        </div>
        <div class="card-body big-light">
            <div class="row" id="fields">

            </div>
        </div>
        <div class="card-footer">
            <div class="col-lg-12" style="text-align: right;">
                <button type="button" class="btn btn-secondary" id="cancelBtn"><i
                        class="feather icon-x"></i>Cancel</button>
                <button type="button" class="btn btn-success" id="save-button"><i
                        class="feather icon-x"></i>Save</button>
            </div>
        </div>
    </div>
</div>