<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Accelution</title>

<meta name="msapplication-TileImage" content="img/favicons/mstile-150x150.png">
<meta name="theme-color" content="#ffffff">
<script th:src="@{/js/config.js}"></script>
<script th:src="@{/vendors/simplebar/simplebar.min.js}"></script>

<link rel="preconnect" href="https://fonts.gstatic.com/">
<link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap"
    rel="stylesheet">
<link th:href="@{/vendors/simplebar/simplebar.min.css}" rel="stylesheet">
<link th:href="@{/vendors/select2/select2.min.css}" rel="stylesheet">
<link th:href="@{/css/theme.min.css}" rel="stylesheet" id="style-default">
<link th:href="@{/vendors/datatables.net-bs5/dataTables.bootstrap5.min.css}" rel="stylesheet">
<link th:href="@{/css/sweetalert2.min.css}" rel="stylesheet">
<link th:href="@{/css/main-css.css}" rel="stylesheet" id="style-default">
            <link th:href="@{/css/splide.min.css}" rel="stylesheet">