<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" dir="ltr">

<head>
    <div th:replace="~{./ui/header.html}"></div>
</head>

<body>

<main class="main" id="top">
    <div class="container-fluid" data-layout="container">

        <div th:replace="~{./ui/sidebar.html}"></div>
        <div class="content">
            <div th:replace="~{./ui/navbar.html}"></div>

            <div class="container">
                <div class="row" id="page">

                </div>
            </div>


            <div id="auto_id_start_Temp" style="display: none">
                <!-- content -->
                <!-- add all content here -->
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-body bg-light ">
                            <div class="tab-content">
                                <div class="tab-pane preview-tab-pane active" role="tabpanel"
                                     aria-labelledby="tab-dom-6b61cc5a-d905-4fbf-a118-f5d5c95b2e95" id="dom-6b61cc5a-d905-4fbf-a118-f5d5c95b2e95">
                                    <form class="needs-validation" novalidate="">
                                        <div class="col-auto">
                                            <label class="form-label" for="tablename">Table Name</label>
                                            <input class="form-control" id="tablename" name="tablename" type="text" required="" />
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">Please Enter a valid Table Name</div>
                                        </div>

                                        <div class="col-auto mt-2">
                                            <label for="description">Description</label>
                                            <textarea class="form-control" id="description" name="description" rows="2"></textarea>
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback"> </div>
                                        </div>

                                        <div class="col-auto">
                                            <label class="form-label" for="autoidformat">Auto ID Format</label>
                                            <input class="form-control" id="autoidformat" name="autoidformat" type="text" required="" />
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">Please Enter a valid Auto ID Format</div>
                                        </div>

                                        <div class="col-auto">
                                            <label class="form-label" for="length">Length</label>
                                            <input class="form-control" id="length" name="length" type="text" required="" placeholder="3" />
                                            <div class="valid-feedback">Looks good!</div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div th:replace="~{./ui/footer.html}">Side</div>
        </div>
    </div>
</main>

<div th:replace="~{./ui/scripts.html}"></div>
<script th:src="@{/vendors/select2/select2.min.js}"></script>

<script>

    $.fn.dataTable.ext.errMode = 'none';

    $(document).find('.ajax-select').each(function () {
        convertToSelect2(this);
    });

    let tableData = {
        columns: [
            {"name": "ID", "data": "id", "visible": false},
            {"name": "Name", "data": "name"},
            {"name": "Status", "data": "status", "width": "50px"}
        ],
        url: window.location.origin + contextPath + 'common/auto-id-start/datatable',
        tableSize: 'col-12'
    };

    let formData = {
        url: window.location.origin + contextPath + 'common/auto-id-start',
        customFields: $('#auto_id_start_Temp').children(),
        formSize: 'col-12',
        contentType: 'json'
    };

    new initiatePage($('#page'), 'Auto Id Start', tableData, formData);


</script>


</body>


</html>