<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" dir="ltr">

<head>
    <div th:replace="~{./ui/header.html}"></div>
</head>

<body>

<main class="main" id="top">
    <div class="container-fluid" data-layout="container">

        <div th:replace="~{./ui/sidebar.html}"></div>
        <div class="content">
            <div th:replace="~{./ui/navbar.html}"></div>

            <div class="container">
                <div class="row" id="page">

                </div>
            </div>


            <div id="district_Temp" style="display: none">
                <!-- content -->
                <!-- add all content here -->
                <div class="col-md-4">
                    <div class="card mb-3">

                        <div class="card-body bg-light ">
                            <div class="tab-content">
                                <div class="tab-pane preview-tab-pane active" role="tabpanel"
                                     aria-labelledby="tab-dom-6b61cc5a-d905-4fbf-a118-f5d5c95b2e95" id="dom-6b61cc5a-d905-4fbf-a118-f5d5c95b2e95">
                                    <form class="needs-validation" novalidate="">
                                        <div class="col-auto">
                                            <label class="form-label" for="id">ID</label>
                                            <input class="form-control" id="id" type="text" required="" placeholder="345" />
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">Please Enter a valid id</div>
                                        </div>
                                        <div class="col-auto">
                                            <label class="form-label" for="code">Code</label>
                                            <input class="form-control" id="code" type="text" required="" placeholder="8ER5R" />
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">Please Enter a valid Code</div>
                                        </div>
                                        <div class="col-auto">
                                            <label class="form-label" for="name">Name</label>
                                            <input class="form-control" id="name" type="text" required="" placeholder="Colombo" />
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">Please Enter a valid District name</div>
                                        </div>
                                        <div class="col-auto">
                                            <label class="form-label" for="province">Province</label>
                                            <input class="form-control" id="province" type="text" required="" placeholder="Western Province" />
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">Please Enter a valid District name</div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="~{./ui/footer.html}">Side</div>
        </div>
    </div>
</main>

<div th:replace="~{./ui/scripts.html}"></div>
<script th:src="@{/vendors/select2/select2.min.js}"></script>

<script>

    $.fn.dataTable.ext.errMode = 'none';

    $(document).find('.ajax-select').each(function () {
        convertToSelect2(this);
    });

    let tableData = {
        columns: [
            {"name": "ID", "data": "id", "visible": false},
            {"name": "Name", "data": "name"},
            {"name": "Status", "data": "status", "width": "50px"}
        ],
        url: window.location.origin + contextPath + 'common/district/datatable',
        tableSize: 'col-12'
    };

    let formData = {
        url: window.location.origin + contextPath + 'common/district',
        customFields: $('#district_Temp').children(),
        formSize: 'col-12',
        contentType: 'json'
    };

    new initiatePage($('#page'), 'District', tableData, formData);


</script>


</body>


</html>