<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" dir="ltr">

<head>
    <div th:replace="~{./ui/header.html}"></div>
</head>

<body>

<main class="main" id="top">
    <div class="container-fluid" data-layout="container">

        <div th:replace="~{./ui/sidebar.html}"></div>
        <div class="content">
            <div th:replace="~{./ui/navbar.html}"></div>

            <div class="container">
                <div class="row" id="page">

                </div>
            </div>


            <div id="password_policy_Temp" style="display: none">
                <!-- content -->
                <!-- add all content here -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="p-4">
                                <div class="card w-full md:w-1500px shadow-lg px-3">

                                    <div class="card-body">
                                        <form  class="needs-validation" novalidate="">
                                            <div class="row mb-3">
                                                <div class="col-md-3">
                                                    <label for="id">ID</label>
                                                    <input type="number" class="form-control" disabled id="id" placeholder="1258EZ">
                                                </div>
                                                <div class="col-md-3">
                                                <label for="minLength">Minimum Length</label>
                                                <input type="number" type="text" class="form-control" id="minLength" placeholder="8" required>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="maxLength">Maximum Length</label>
                                                    <input type="number" class="form-control" id="maxLength" placeholder="16" required>
                                                </div>

                                            </div>


                                            <div class="row">
                                                <div class="col col-lg-6 mt-2">
                                                    <!-- 1 -->
                                                    <div class="row mt-3">
                                                        <label for="minLowerCase" class="col-lg-8 form-label">Minimum number of LowerCase Characters</label>
                                                        <div class="col-lg-4">
                                                            <input type="number" type="text" class="form-control" id="minLowerCase" placeholder="8" required>
                                                        </div>
                                                    </div>

                                                    <!-- 3 -->
                                                    <div class="row mt-3">
                                                        <label for="minSpecial" class="col-lg-8 form-label">Minimum number of Special Charactors</label>
                                                        <div class="col-lg-4">
                                                            <input type="number" class="form-control" id="minSpecial" placeholder="16" required>
                                                        </div>
                                                    </div>

                                                    <!-- 5 -->
                                                    <div class="row mt-3">
                                                        <label for="periodOfPasswordExpiration" class="col-lg-8 form-label">Period of password expiration days</label>
                                                        <div class="col-lg-4">
                                                            <input type="number" class="form-control" id="periodOfPasswordExpiration" placeholder="90" required>
                                                        </div>
                                                    </div>

                                                    <!-- 7 -->
                                                    <div class="row mt-3">
                                                        <label for="minPasswordAge" class="col-lg-8 form-label">Minimum password age</label>
                                                        <div class="col-lg-4">
                                                            <input type="number" class="form-control" id="minPasswordAge" placeholder="30" required>
                                                        </div>
                                                    </div>

                                                    <!-- 9 -->
                                                    <div class="row mt-3">
                                                        <label for="numOfPasswordRetention" class="col-lg-8 form-label">Number of password retention</label>
                                                        <div class="col-lg-4">
                                                            <input type="number" class="form-control" id="numOfPasswordRetention" placeholder="30" required>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col col-lg-6 mt-2">
                                                    <!-- 2 -->
                                                    <div class="row mt-3">
                                                        <label for="minNumeric" class="col-lg-8 form-label">Minimum number of Numeric Characters</label>
                                                        <div class="col-lg-4">
                                                            <input type="number" type="text" class="form-control" id="minNumeric" placeholder="8" required>
                                                        </div>
                                                    </div>

                                                    <!-- 4 -->
                                                    <div class="row mt-3">
                                                        <label for="minUpperCase" class="col-lg-8 form-label">Minimum number of UpperCase Characters</label>
                                                        <div class="col-lg-4">
                                                            <input type="number" class="form-control" id="minUpperCase" placeholder="6" required>
                                                        </div>
                                                    </div>

                                                    <!-- 6 -->
                                                    <div class="row mt-3">
                                                        <label for="numOfWarningsBeforExpiration" class="col-lg-8 form-label">Number of days warning before expiry</label>
                                                        <div class="col-lg-4">
                                                            <input type="number" class="form-control" id="numOfWarningsBeforExpiration" placeholder="30" required>
                                                        </div>
                                                    </div>

                                                    <!-- 8 -->
                                                    <div class="row mt-3">
                                                        <label for="accountLockoutThreshold" class="col-lg-8 form-label">Account lockout Threshold</label>
                                                        <div class="col-lg-4">
                                                            <input type="number" class="form-control" id="accountLockoutThreshold" placeholder="30" required>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div th:replace="~{./ui/footer.html}">Side</div>
        </div>
    </div>
</main>

<div th:replace="~{./ui/scripts.html}"></div>
<script th:src="@{/vendors/select2/select2.min.js}"></script>

<script>

    $.fn.dataTable.ext.errMode = 'none';

    $(document).find('.ajax-select').each(function () {
        convertToSelect2(this);
    });

    let tableData = {
        columns: [
            {"name": "ID", "data": "id", "visible": false},
            {"name": "Name", "data": "name"},
            {"name": "Status", "data": "status", "width": "50px"}
        ],
        url: window.location.origin + contextPath + 'common/password-policy/datatable',
        tableSize: 'col-12'
    };

    let formData = {
        url: window.location.origin + contextPath + 'common/password-policy',
        customFields: $('#password_policy_Temp').children(),
        formSize: 'col-12',
        contentType: 'json'
    };

    new initiatePage($('#page'), 'Password Policy', tableData, formData);


</script>


</body>


</html>