<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" dir="ltr">

    <head>
        <div th:replace="~{./ui/header.html}"></div>

        <style>
            .align-right {
                text-align: right;
            }
        </style>
    </head>

    <body>
        <main class="main" id="top">
            <div class="container-fluid" data-layout="container">

                <div th:replace="~{./ui/sidebar.html}"></div>
                <div class="content">
                    <div th:replace="~{./ui/navbar.html}"></div>

                    <div class="container">
                        <div class="row" id="page">

                        </div>
                    </div>


                    <div id="tellerid_Temp" style="display: none">
                        <!-- content -->
                        <!-- add all content here -->

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="px-4 py-2">

                                        <div class="card-body">
                                            <!--             ..................................................................................................-->
                                            <form>

                                                <div class="row">

                                                    <div class="col-md-4">
                                                        <label for="tellerId">  Teller ID </label>
                                                        <input  class="form-control"  id="tellerId" placeholder="" >
                                                    </div>

                                                    <div class="col-md-4">
                                                        <label for="branch">Branch<span class="text-danger">*</span> </label>
                                                        <select id="branch" class="form-select ajax-select" ajax="common/branch/select"
                                                                refid="id" reftxt="text" required=""></select>
                                                    </div>


                                                    <div class="col-md-4">
                                                        <label for="customerId">User </label>
                                                        <select id="customerId" class="form-select ajax-select" ajax="common/account-officer/select"
                                                                refid="id" reftxt="text" required=""></select>
                                                    </div>


                                                </div>
                                                <div class="row">

                                                    <div class="col-md-4">
                                                        <label for="description">  Description </label>
                                                        <input type="text" class="form-control number-format" 
                                                               id="description" placeholder="">
                                                    </div>

                                                    <div class="col-md-4">
                                                        <label class="form-label" for="type"> Type</label>
                                                        <select class="form-select ajax-select" id="type" >
                                                            <option value="vault">Vault </option>
                                                            <option value="till">Till</option>

                                                        </select>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <label for="currency">Currency</label>
                                                        <select id="currency" class="form-select ajax-select"
                                                                ajax="common/currency/select" refid="id" reftxt="text"
                                                                required=""></select>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label for="tillAccount">Till Account <span class="text-danger">*</span></label>
                                                        <select id="tillAccount" class="form-select ajax-select" ajax="common/account/select"
                                                                refid="id" reftxt="text" ></select>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <label for="withdrawalLimit">  Withdrawal Limit </label>
                                                        <input type="text" class="form-control number-format" 
                                                               style="text-align: right;" id="withdrawalLimit" placeholder="">
                                                    </div>
                                                </div>

                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div th:replace="~{./ui/footer.html}">Side</div>
            </div>
            </div>
        </main>


        <div th:replace="~{./ui/scripts.html}"></div>
        <script th:src="@{/vendors/select2/select2.min.js}"></script>

        <script>

            $.fn.dataTable.ext.errMode = 'none';

            $(document).find('.ajax-select').each(function () {
                convertToSelect2(this);
            });

            let tableData = {
                columns: [
                    {"name": "ID", "data": "id", "visible": false},
                    {"name": "Teller Id", "data": "tellerId"},
                    {"name": "User", "data": "customerId"},
                    {"name": "Branch", "data": "branch"},
                    {"name": "Till Account", "data": "tillAccount"},
                    {"name": "Withdrawal Limit", "data": "withdrawalLimit"},
                    {
                        "name": "Status", "data": "approvalStatus", "width": "50px", render: function (data, type, row) {
                            let bannerClass, bannerText;
                            if (data === "approved") {
                                bannerClass = "success";
                                bannerText = "Approved";
                            } else if (data === "rejected") {
                                bannerClass = "danger";
                                bannerText = "Rejected";
                            } else if (data === "pending") {
                                bannerClass = "warning";
                                bannerText = "Pending";
                            } else if (data === "active") {
                                bannerClass = "success";
                                bannerText = "Active";
                            }
                            return '<small class="badge fs--1 w-100 badge-soft-' + bannerClass + '">' + bannerText + '</small>';
                        }
                    }
                ],
                url: window.location.origin + contextPath + 'common/teller-id/datatable',
                tableSize: 'col-12'
            };

            let formData = {
                url: window.location.origin + contextPath + 'common/teller-id',
                customFields: $('#tellerid_Temp').children(),
                formSize: 'col-12',
                contentType: 'json',

                afterSaveScreen: function () {
                    $("#currency").append('<option value="1">Sri Lankan Rupee</option>');

                }
            };

            new initiatePage($('#page'), 'TellerId', tableData, formData);

            //            number formating
            function formatAmount(input) {
                // Remove non-numeric characters and leading zeros
                const numericInput = input.replace(/[^0-9]/g, '').replace(/^0+/, '');

                // Convert to a number and format with two decimal places
                const formattedAmount = (parseFloat(numericInput) / 100).toFixed(2);

                return formattedAmount;
            }

// Function to add comma separators to a number
            function addCommas(num) {
                const parts = num.toString().split('.');
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                return parts.join('.');
            }

// Get all elements with the class name "number-format"
            const numberFormatInputs = document.querySelectorAll('.number-format');

// Add event listener to each input element with the class name "number-format"
            numberFormatInputs.forEach(input => {
                input.addEventListener('input', function () {
                    // Get the input value
                    const inputValue = this.value;

                    // Format the amount
                    let formattedValue = formatAmount(inputValue);

                    // Check if the input field has the class name "number-format" and add commas if necessary
                    if (this.classList.contains('number-format')) {
                        formattedValue = addCommas(formattedValue);
                    }

                    // Set the formatted value back to the input field
                    this.value = formattedValue;
                });
            });





        </script>

    </body>


</html>